<div class="flex flex-col h-full gap-1">
  <form [formGroup]="contractGroup">
    <suint-page-header
     
      title="Datos de universidad de origen"
    >
      <input-custom
        name="Universidad"
        type="select"
        [options]="universities"
        formControlName="universityId"
        [displayProperty]="'name'"
        [valueProperty]="'id'"
        (ngModelChange)="onUniversityChange($event)"
      ></input-custom>

      <!-- <app-suint-button
        [text]="'Editar'"
        [iconSrc]="'assets/icons/icon-save.svg'"
        (onClickButton)="openEditModal()"
      ></app-suint-button>

      <app-suint-button
        [text]="'Nuevo'"
        [iconSrc]="'assets/icons/icon-add.svg'"
        (onClickButton)="openAddModal()"
      ></app-suint-button> -->

    </suint-page-header>
  </form>
  
  <!-- <app-academic-origin-career-convalidation [data]="careers" [columns]="tableColumns"></app-academic-origin-career-convalidation> -->


  <div class="bg-gray-100 min-h-screen p-5">
    <suint-page-header description="" title="Universidades">
      <!-- Botón de nuevo -->
      <app-suint-button
        [text]="'Nuevo'"
        [iconSrc]="'assets/icons/icon-add.svg'"
        (onClickButton)="openAddModal()"
      ></app-suint-button>
    </suint-page-header>

    <div class="shadow-sm bg-white rounded-b-md p-5">
      <div class="shadow-sm bg-white rounded-b-md p-5">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr class="border-b border-gray-200">
              <th *ngFor="let column of columns" class="p-4 text-sm font-semibold text-gray-600">
                {{ column.header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data" class="border-b border-gray-100 hover:bg-gray-50">
              <td *ngFor="let column of columns" class="p-4 text-gray-700">
                <!-- Aquí añadimos la lógica condicional para el estado -->
                <ng-container *ngIf="column.field === 'state'; else defaultValue">
                  {{ item[column.field] ? 'Activado' : 'Desactivado' }}
                </ng-container>
                <ng-template #defaultValue>
                  {{ item[column.field] }}
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
  </div>

  <suit-modal-form
    titleModal="Datos de Universidad de Origen"
    #modal
    [width]="'800px'"
    [maxWidth]="'100%'"
  >
    <form [formGroup]="contractGroup" (ngSubmit)="register()">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <!-- Columna 1 -->
        <div>
          <input-custom
            name="Organización"
            formControlName="name"
            type="text"
            placeholder="Introduce la organización"
          ></input-custom>

          <input-custom
            name="Teléfono"
            formControlName="phone"
            type="text"
            placeholder="Introduce tu teléfono"
          ></input-custom>
        </div>
        <!-- Columna 2 -->
        <div>
          <input-custom
            name="Sucursal"
            formControlName="branch"
            type="text"
            placeholder="Introduce la la sucursal"
          ></input-custom>

          <input-custom
            name="Fax"
            formControlName="fax"
            type="text"
            placeholder="Introduce el número de fax"
          ></input-custom>
        </div>

        <!-- Columna 3 -->
        <div>
          <input-custom
            name="Ciudad"
            type="select"
            [options]="cities"
            formControlName="cityId"
            [displayProperty]="'name'"
            [valueProperty]="'id'"
          ></input-custom>
        </div>

        <!-- Fila que ocupa 2 columnas -->
        <div class="col-span-2">
          <input-custom
            name="Correo"
            formControlName="email"
            type="email"
            placeholder="Introduce el correo"
            class="w-full"
          ></input-custom>

        </div>

        <div class="col-span-2">

          <input-custom
            name="Observaciones"
            formControlName="observation"
            type="text"
            placeholder="Introduce tus observaciones"
            class="w-full"
          ></input-custom>
        </div>
      </div>

      <div class="mt-6 flex justify-end">
        <app-suint-button
          [text]="'Guardar'"
          [iconSrc]="'assets/icons/icon-save.svg'"
          type="submit"
          (onClickButton)="delayReload()"
        ></app-suint-button>
      </div>
    </form>
  </suit-modal-form>
</div>
