<div class="flex flex-col h-full gap-1">
  <form [formGroup]="contractGroup">
    <suint-page-header title="Datos de universidad de origen">
      <input-custom
        name="Buscar Universidad"
        formControlName="search"
        type="text"
        placeholder="Buscar..."
        class="w-full"
        (input)="filterUniversities()"
      ></input-custom>
    </suint-page-header>
  </form>

  <suint-list-all
    [data]="filteredUniversities"
    [columns]="tableColumns"
    [additionalColumns]="additionalColumns"
    title="Universidades"
    (editItem)="onEdit($event)"
    (deleteItem)="onDelete($event)"
    ><app-suint-button
      [text]="'Nuevo'"
      [iconSrc]="'assets/icons/icon-add.svg'"
      (onClickButton)="openAddModal()"
    ></app-suint-button
  ></suint-list-all>

  <suit-modal-form
    titleModal="Datos de Universidad de Origen"
    #modal
    [width]="'800px'"
    [maxWidth]="'100%'"
  >
    <form [formGroup]="contractGroup" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div>
          <!-- <input-custom
            name="Organización"
            formControlName="name"
            type="text"
            placeholder="Introduce la organización"
          ></input-custom> -->

          <div>
            <label class="text-sm text-primary">Nombre</label>
            <input
            formControlName="name"
            type="text"
            placeholder="Introduce la nombre"
              class="block w-full h-9 p-2 bg-white border border-gray-200 rounded-md text-sm outline-none placeholder:text-slate-400 placeholder:text-sm focus:border-primary-focus !ring-offset-0 !ring-0 transition duration-500"
            />
          </div>

          <!-- <input-custom
            name="Teléfono"
            formControlName="phone"
            type="text"
            placeholder="Introduce tu teléfono"
          ></input-custom> -->


          <div>
            <label class="text-sm text-primary">Teléfono</label>
            <input
            formControlName="phone"
            type="text"
            placeholder="Introduce tu teléfono"
              class="block w-full h-9 p-2 bg-white border border-gray-200 rounded-md text-sm outline-none placeholder:text-slate-400 placeholder:text-sm focus:border-primary-focus !ring-offset-0 !ring-0 transition duration-500"
            />
          </div>
        </div>
        <div>
          <!-- <input-custom
            name="Fax"
            formControlName="fax"
            type="text"
            placeholder="Introduce el número de fax"
          ></input-custom> -->

          <div>
            <label class="text-sm text-primary">Fax</label>
            <input
            formControlName="fax"
            type="text"
            placeholder="Introduce el número de fax"
              class="block w-full h-9 p-2 bg-white border border-gray-200 rounded-md text-sm outline-none placeholder:text-slate-400 placeholder:text-sm focus:border-primary-focus !ring-offset-0 !ring-0 transition duration-500"
            />
          </div>

          <!-- <input-custom
            name="Correo"
            formControlName="email"
            type="email"
            placeholder="Introduce el correo"
            class="w-full"
          ></input-custom> -->

          <div>
            <label class="text-sm text-primary">Correo</label>
            <input
            formControlName="email"
            type="email"
            placeholder="Introduce el correo"
              class="block w-full h-9 p-2 bg-white border border-gray-200 rounded-md text-sm outline-none placeholder:text-slate-400 placeholder:text-sm focus:border-primary-focus !ring-offset-0 !ring-0 transition duration-500"
            />
          </div>
        </div>

        <div>
          <input-custom
            name="Ciudad"
            type="select"
            [options]="cities"
            formControlName="cityId"
            [displayProperty]="'name'"
            [valueProperty]="'id'"
          ></input-custom>
        </div>

        <div class="col-span-2">
          <!-- <input-custom
            name="Observaciones"
            formControlName="observation"
            type="text"
            placeholder="Introduce tus observaciones"
            class="w-full"
          ></input-custom> -->

          <div>
            <label class="text-sm text-primary">Observaciones</label>
            <input
            formControlName="observation"
            type="text"
            placeholder="Introduce tus observaciones"
              class="block w-full h-9 p-2 bg-white border border-gray-200 rounded-md text-sm outline-none placeholder:text-slate-400 placeholder:text-sm focus:border-primary-focus !ring-offset-0 !ring-0 transition duration-500"
            />
          </div>
        </div>
      </div>

      <div class="mt-6 flex justify-end">
        <app-suint-button
          [text]="'Guardar'"
          [iconSrc]="'assets/icons/icon-save.svg'"
          type="submit"
        ></app-suint-button>
      </div>
    </form>
  </suit-modal-form>
</div>
