<suint-list-all
  [title]="studentData.name"
  [data]="subjectRelations"
  [additionalColumns]="additionalColumns"
  [columns]="tableColumns"
  (deleteItem)="onDelete($event)"
  [isEditVisible]="false"
  [isDeleteVisible]="true"
  [isNewVisible]="true"
>
</suint-list-all>

<!-- Modal para Asignatura Destino -->
<suit-modal-form
  titleModal="Asignatura Destino"
  #modalDestino
  [width]="'900px'"
  [maxWidth]="'100%'">
  <form [formGroup]="relationForm" (ngSubmit)="onSubmit()">
    <input-custom
      formControlName="searchDestino"
      type="text"
      placeholder="Buscar Asignatura Destino..."
      class="w-full"
      (input)="filterSubjectsUAB()">
    </input-custom>
    <div class="overflow-x-auto m-3 rounded">
      <table class="min-w-full bg-white rounded-lg shadow-md">
        <thead class="bg-gray-200">
          <tr>
            <th class="w-1/12 px-4 py-2 text-left text-gray-600">Seleccionar</th>
            <th class="w-5/12 px-4 py-2 text-left text-gray-600">Nombre</th>
            <th class="w-2/12 px-4 py-2 text-left text-gray-600">Código</th>
            <th class="w-4/12 px-4 py-2 text-left text-gray-600">Semestre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subjectuab of filteredSubjectsUAB" class="border-b">
            <td class="px-4 py-2">
              <input type="checkbox" (change)="selectedSubjectDestino(subjectuab)" class="h-5 w-5 text-blue-600 rounded border-gray-300 focus:ring-blue-500">
            </td>
            <td class="px-4 py-2">{{ subjectuab.subjectName }}</td>
            <td class="px-4 py-2">{{ subjectuab.subjectCode }}</td>
            <td class="px-4 py-2">{{ subjectuab.semester }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-6 flex justify-end">
      <app-suint-button
        [text]="'Guardar'"
        [iconSrc]="'assets/icons/icon-save.svg'"
        type="submit"
      ></app-suint-button>
    </div>
  </form>
</suit-modal-form>

<!-- Modal para Asignatura Origen -->
<suit-modal-form
  titleModal="Asignatura Origen"
  #modalOrigen
  [width]="'900px'"
  [maxWidth]="'100%'">
  <form [formGroup]="relationForm" (ngSubmit)="onSubmit()">
    <input-custom
      formControlName="searchOrigen"
      type="text"
      placeholder="Buscar Asignatura Origen..."
      class="w-full"
      (input)="filterSubjectsOrigen()">
    </input-custom>
    <div class="overflow-x-auto m-3 rounded">
      <table class="min-w-full bg-white rounded-lg shadow-md">
        <thead class="bg-gray-200">
          <tr>
            <th class="w-1/12 px-4 py-2 text-left text-gray-600">Seleccionar</th>
            <th class="w-5/12 px-4 py-2 text-left text-gray-600">Nombre</th>
            <th class="w-2/12 px-4 py-2 text-left text-gray-600">Codigo</th>
            <th class="w-4/12 px-4 py-2 text-left text-gray-600">Semestre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjectList" class="border-b">
            <td class="px-4 py-2">
              <input type="checkbox" (change)="selectedSubjectOrigen(subject)" class="h-5 w-5 text-blue-600 rounded border-gray-300 focus:ring-blue-500">
            </td>
            <td class="px-4 py-2">{{ subject.name }}</td>
            <td class="px-4 py-2">{{ subject.code }}</td>
            <td class="px-4 py-2">{{ subject.semester }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-6 flex justify-end">
      <app-suint-button
        [text]="'Guardar'"
        [iconSrc]="'assets/icons/icon-save.svg'"
        type="submit"
      ></app-suint-button>
    </div>
  </form>
</suit-modal-form>

<ng-container *ngIf="showErrorModal">
  <div class="fixed top-0 left-0 z-30 flex items-center justify-center w-full h-full p-4 bg-black bg-opacity-25">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <h2 class="text-lg font-bold">{{ errorMessage }}</h2>
      <div class="mt-4 flex justify-center">
        <button (click)="closeModal()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</ng-container>

