<div
  class="flex items-center justify-center w-full h-16 px-5 bg-white rounded-[4px] shadow-sm mb-1"
>
  <div class="flex flex-col gap-1 items-center text-center">
    <h1 class="leading-none font-primaryBold text-secondary">
      INFORME TECNICO DE CONVALIDACION POR ASIGNATURA
    </h1>
    <h1 class="text-xm leading-none text-enable">
      Nombre estudiante
    </h1>
  </div>
</div>

<div class="flex items-start justify-center w-full h-full px-5 bg-white rounded-[4px] shadow-sm">
    <div class="flex flex-col w-1/2 px-2">
        <h2 class="text-center font-bold text-lg">Nombre de Universidad de Destino</h2>
        <div class="flex flex-col mt-2">
            <div class="flex flex-col mb-2">
                <label class="font-semibold">Facultad: <div class="font-normal inline">Nombre de la Carrera</div></label>
            </div>
            <div class="flex flex-col">
                <label class="font-semibold">Asignatura: <div class="font-normal inline">Nombre de la Carrera</div></label>
                <label class="font-semibold mt-1">Carrera: <div class="font-normal inline">Nombre de la Carrera</div></label>
            </div>
        </div>
        <div class="bg-zinc-50 rounded">
            <div class="flex items-start justify-between w-50 h-10 px-5 bg-slate-50 rounded-[4px] shadow-sm mb-1 m-3">
                <div class="flex flex-col m-1">
                    <label class="font-semibold">Unidad: <span class="font-normal inline">1</span></label>
                </div>
                <div class="flex items-center justify-start m-1 flex-grow">
                    <label class="font-semibold ml-36">Nombre Unidad: <span class="font-normal inline">Universidad adventista</span></label> <!-- Agregué ml-3 para margen a la izquierda -->
                </div>
            </div>
            <div class="mt-2"> <!-- Ajustar el margen superior aquí -->
                <textarea readonly class="w-full h-32 border border-gray-300 rounded text-gray-700 resize-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
            </div>
        </div>
    </div>

    <div class="flex flex-col w-1/2 px-2 ">
        <h2 class="text-center font-bold text-lg">Nombre de Universidad Origen</h2>
        <div class="flex flex-col mt-2">
            <div class="flex flex-col mb-2">
                <label class="font-semibold">Facultad: <div class="font-normal inline">Nombre de la Carrera</div></label>
            </div>
            <div class="flex flex-col">
                <label class="font-semibold">Asignatura: <div class="font-normal inline">Nombre de la Carrera</div></label>
                <label class="font-semibold mt-1">Carrera: <div class="font-normal inline">Nombre de la Carrera</div></label>
            </div>
        </div>

        <div class="bg-zinc-50 rounded">
            <div class="flex items-start justify-between w-50 h-10 px-5 bg-slate-50 rounded-[4px] shadow-sm mb-1 m-3">
                <div class="flex flex-grow">
                    <div class="flex items-start justify-between mb-1 flex-grow"> <!-- Cambiado mb-2 a mb-1 -->
                        <div class="flex flex-col m-1">
                            <label class="font-semibold">Unidad: <span class="font-normal inline">1</span></label> <!-- Añadido text-sm -->
                        </div>
                        <div class="flex items-center justify-start m-1">
                            <label class="font-semibold ml-2">Nombre Unidad: <span class="font-normal inline">Universidad Adventista</span></label> <!-- Añadido text-sm y ml-2 -->
                        </div>
                    </div>
                    <div class="flex items-start justify-end m-1 flex-grow">
                        <input type="number" placeholder="%" class="w-16 h-6 text-center border border-gray-300 rounded" /> <!-- Cambiado h-8 a h-6 -->
                    </div>
                </div>
            </div>
            <div class="mt-2"> <!-- Ajustar el margen superior aquí -->
                <textarea readonly class="w-full h-32 border border-gray-300 rounded text-gray-700 resize-none">Lorem ipsum dolor sit dsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaamet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
            </div>
        </div>
    </div>
</div>


