<div class="flex flex-col md:flex-row items-center justify-between px-16 mt-2 space-y-4 md:space-y-0 md:space-x-4">  
    <label (click)="openCreateModal()"
      class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition duration-200 ease-in-out">
  Crear Carrera de Origen
</label>

  </div>
  
  <div class="container mx-auto px-4 mt-6">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha de Resolucion</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Numero de semanas</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Universidad</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Empleado</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let career of careers">
          <td class="px-6 py-4 whitespace-nowrap">{{ career.name }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ career.resolutionDate }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ career.state }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ career.numberWeeks }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ career.universityId }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ career.employeeId }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex space-x-2">
              <label (click)="editCareer(career)" for="create-career-modal" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition duration-200 ease-in-out">
                Editar
              </label>
            <button (click)="deleteCareer(career.id)" 
                    class="px-4 py-2 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75 transition duration-200 ease-in-out">
                Eliminar
            </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <input type="checkbox" id="create-career-modal" class="peer fixed appearance-none opacity-0">
  
  <label for="create-career-modal" class="pointer-events-none invisible fixed inset-0 flex cursor-pointer items-center justify-center overflow-hidden bg-slate-700/30 opacity-0 transition-all duration-200 ease-in-out peer-checked:pointer-events-auto peer-checked:visible peer-checked:opacity-100">
    <div class="relative max-h-[calc(100vh - 5em)] max-w-lg w-full scale-90 overflow-y-auto rounded-md bg-white p-6 text-black shadow-2xl transition">
      <h3 class="text-lg font-bold">Crear Carrera de Origen</h3>
      <form class="space-y-4 py-4" [formGroup]="careerForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
                <label class="block text-sm font-medium">Nombre</label>
                <input type="text" class="mt-1 w-full rounded border border-gray-400 p-1 text-sm focus:border-indigo-500 focus:ring-indigo-500" formControlName="name">
            </div>
            <div>
                <label class="block text-sm font-medium">Fecha de Resolucion</label>
                <input type="datetime-local" class="mt-1 w-full rounded border border-gray-400 p-1 text-sm focus:border-indigo-500 focus:ring-indigo-500" formControlName="resolutionDate">
            </div>
            <div>
              <label class="block text-sm font-medium">Estado</label>
<select class="mt-1 w-full rounded border border-gray-400 p-1 text-sm focus:border-indigo-500 focus:ring-indigo-500" formControlName="state">
  <option [ngValue]="true">Activo</option>
  <option [ngValue]="false">Inactivo</option>
</select>

            </div>
            <div>
                <label class="block text-sm font-medium">Numero de semanas</label>
                <input type="number" class="mt-1 w-full rounded border border-gray-400 p-1 text-sm focus:border-indigo-500 focus:ring-indigo-500" formControlName="numberWeeks">
            </div>
            <div>
                <label class="block text-sm font-medium">Universidad</label>
                <input type="number" class="mt-1 w-full rounded border border-gray-400 p-1 text-sm focus:border-indigo-500 focus:ring-indigo-500" formControlName="universityId">
            </div>
            <div>
                <label class="block text-sm font-medium">Empleado</label>
                <input type="number" class="mt-1 w-full rounded border border-gray-400 p-1 text-sm focus:border-indigo-500 focus:ring-indigo-500" formControlName="employeeId">
            </div>
            
        </div>
       
        <div class="flex justify-end space-x-2">
            <button type="button" class="px-4 py-2 bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 transition duration-200 ease-in-out" (click)="closemodal()">Cancelar</button>
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition duration-200 ease-in-out">Guardar</button>
        </div>
    </form>
    </div>
  </label>
  