<div class="flex flex-col h-full gap-1">
  <div class="bg-gray-100 min-h-screen p-5">
    <suint-page-header description="" title="Carreras">
      <!-- Botón de nuevo -->
      <app-suint-button
        [text]="'Nuevo'"
        [iconSrc]="'assets/icons/icon-add.svg'"
        (onClickButton)="openAddModal()"
      ></app-suint-button>
    </suint-page-header>

    <div class="shadow-sm bg-white rounded-b-md p-5">
      <div class="shadow-sm bg-white rounded-b-md p-5">
        <table class="w-full text-left border-collapse">
          <thead>
            <tr class="border-b border-gray-200">
              <th *ngFor="let column of columns" class="p-4 text-sm font-semibold text-gray-600">
                {{ column.header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data" class="border-b border-gray-100 hover:bg-gray-50">
              <td *ngFor="let column of columns" class="p-4 text-gray-700">
                <!-- Aquí añadimos la lógica condicional para el estado -->
                <ng-container *ngIf="column.field === 'state'; else defaultValue">
                  {{ item[column.field] ? 'Activado' : 'Desactivado' }}
                </ng-container>
                <ng-template #defaultValue>
                  {{ item[column.field] }}
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
  </div>
  <div class="flex-1 overflow-y-auto bg-white rounded-[4px] shadow-sm">
    <suit-modal-form
      titleModal="Datos de carrera de origen"
      #modal
      [width]="'800px'"
      [maxWidth]="'100%'"
    >
      <form [formGroup]="contractGroup" (ngSubmit)="register()">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
          <div>
            <input-custom
              name="Universidad de Origen"
              type="select"
              [options]="universities"
              formControlName="universityId"
              [displayProperty]="'name'"
              [valueProperty]="'id'"
            ></input-custom>

            <input-custom
              name="Nombre de la Carrera"
              formControlName="name"
              type="text"
              placeholder="Introduce el nombre de la carrera"
            ></input-custom>

            <input-custom
              name="Numero de semanas"
              formControlName="numberWeeks"
              type="number"
              placeholder="Introduce el número de semanas"
            ></input-custom>

            <input-custom
              name="Nivel Academico"
              formControlName="academicLevelId"
              type="select"
              [options]="['Nivel 1', 'Nivel 2', 'Nivel 3']"
            ></input-custom>
          </div>

          <!-- Columna 2 -->
          <div>
            <input-custom
              name="Facultad o Unidad Academica"
              [options]="faculties"
              formControlName="facultyId"
              type="select"
              [displayProperty]="'name'"
              [valueProperty]="'id'"
            ></input-custom>

            <input-custom
              name="Fecha de Resolución"
              formControlName="resolutionDate"
              type="datetime-local"
              placeholder="Selecciona la fecha de resolución"
            ></input-custom>

            <input-custom
              name="Nota de Aprobación"
              formControlName="approvalNote"
              type="number"
              placeholder="Introduce la nota de aprobación"
            ></input-custom>

            <input-custom
              name="Régimen de Estudio"
              formControlName="studyRegimenId"
              type="select"
              [options]="['Presencial', 'Virtual']"
            ></input-custom>
          </div>

          <!-- Columna 3 -->
          <div>
            <div class="mt-6 flex justify-end">
              <app-suint-button
                [text]="'Agregar'"
                [iconSrc]="'assets/icons/icon-add.svg'"
                type="submit"
                
              ></app-suint-button>
            </div>

            <input-custom
              name="Estado"
              type="select"
              [options]="stateOptions"
              formControlName="state"
              [displayProperty]="'name'"
              [valueProperty]="'value'"
            ></input-custom>

            <input-custom
              name="Carga Horaria"
              type="select"
              [options]="workloadOptions"
              formControlName="workload"
              [displayProperty]="'name'"
              [valueProperty]="'name'"
            ></input-custom>
          </div>
        </div>
        <div class="mt-6 flex justify-end">
          <app-suint-button
            [text]="'Guardar'"
            [iconSrc]="'assets/icons/icon-save.svg'"
            type="submit"
            
          ></app-suint-button>
        </div>
      </form>
    </suit-modal-form>
  </div>
</div>
