<app-suint-button
  [text]="'Nuevo'"
  [iconSrc]="'assets/icons/icon-add.svg'"
  (onClickButton)="openAddModal()"
></app-suint-button>

<div class="flex-1 overflow-y-auto bg-white rounded-[4px] shadow-sm">
  <suit-modal-form
    titleModal="Datos de unidades de origen"
    #modal
    [width]="'800px'"
    [maxWidth]="'100%'"
  >
    <form [formGroup]="contractGroup" class="flex flex-col" (ngSubmit)="onSubmit()">
      <div formArrayName="units">
        <div
          *ngFor="let unit of units.controls; let i = index"
          [formGroupName]="i"
          class="mt-4 flex items-center space-x-4 bg-gray-200 p-4 rounded-md"
        >
          <div class="flex justify-center items-center" style="width: 15px">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-primary transition duration-150 ease-in-out"
              formControlName="selected"
            />
          </div>
          <div class="flex-1">
            <div class="flex items-center space-x-4">
              <div class="flex-1">
                <label class="text-sm text-primary"># Unidad</label>
                <input
                  formControlName="number"
                  type="text"
                  placeholder="Nro."
                  class="block w-full h-8 p-1 bg-opacity-80 bg-white border border-gray-200 rounded-md text-sm outline-none"
                  style="width: 60px"
                />
              </div>
              <div class="flex-1">
                <label class="text-sm text-primary">Título Unidad</label>
                <input
                  formControlName="name"
                  type="text"
                  placeholder="Título de la unidad"
                  class="block w-full h-8 p-1 bg-opacity-80 bg-white border border-gray-200 rounded-md text-sm outline-none"
                />
              </div>
            </div>
            <div class="mt-4">
              <label class="text-sm text-primary">Contenido de la unidad</label>
              <textarea
                formControlName="topic"
                placeholder="Descripción de la unidad"
                class="block w-full h-20 p-1 bg-opacity-80 bg-white border border-gray-200 rounded-md text-sm outline-none"
                style="resize: none"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      

      <!-- Botones para agregar y eliminar grupos -->
      <div class="mt-3 flex space-x-2">
        <button
          type="button"
          (click)="addUnit()"
          class="bg-green-500 text-white px-4 py-2 rounded-md"
        >
          +
        </button>
        <button
          type="button"
          (click)="removeUnit()"
          class="bg-red-500 text-white px-4 rounded-md"
        >
          -
        </button>
        <button
          type="button"
          (click)="doubleSortUnits()"
          class="bg-blue-500 text-white px-2 rounded-md"
        >
          Ordenar
        </button>
        <button
          type="button"
          (click)="doubleSortUnits()"
          class="bg-primary-light text-white px-2 rounded-md"
          type="submit"
        >
          Guardarr
        </button>
      </div>
    </form>
  </suit-modal-form>
</div>



