<div
  class="relative flex items-center justify-center rounded-full cursor-pointer w-7 h-7 bg-slate-100 hover:bg-primary-light group"
>
  <svg-icon class="flex w-4 group-hover:text-white" src="{{ icon }}"></svg-icon>
  <div
    class="absolute flex items-center justify-center w-4 h-4 rounded-full -top-[7px] -right-[7px] bg-actions-cancel"
  >
    <span
      class="text-[10px] font-primaryMedium text-white shadow-sm flex items-center justify-center"
      >{{ number }}</span
    >
  </div>
</div>
