<div
  class="flex items-center justify-between w-full h-16 px-5 bg-white rounded-md shadow-sm"
>
  <div class="flex flex-col gap-1">
    <h1 class="leading-none font-primaryBold text-secondary">
      TIPO DE CONTRATO
    </h1>
    <span class="hidden text-xs leading-none text-enable md:block">
      Registro de tipos de contratos aceptados en la UAB
    </span>
  </div>
  <div>
    <button
      class="text-sm text-white rounded-[4px] w-28 h-[34px] bg-primary-light font-primaryRegular"
    >
      Nuevo
    </button>
  </div>
</div>
