<div
  class="flex flex-col items-center justify-between flex-grow gap-2 px-2 py-2 m-1 bg-white rounded-lg shadow-sm md:px-4 md:h-20 md:flex-row md:m-2"
>
  <div>
    <div class="flex items-center gap-2">
      <h1 class="text-xl select-none font-primaryMedium text-secondary">
        Hola,
      </h1>
      <h1 class="text-xl select-none font-primaryMedium text-secondary">
        Gerardo
      </h1>
    </div>
    <div class="">
      <h1 class="text-xs select-none text-enable">
        Bienvenido a la plataforma "SUINT" (Sistema Universitario Integrado)
      </h1>
    </div>
  </div>
  <div class="flex justify-end gap-2">
    <h1 class="hidden text-xs select-none text-enable md:block">
      14 de marzo 2024
    </h1>
    <svg-icon
      class="hidden w-4 md:flex text-enable"
      src="assets/icons/icon-min-calendar.svg"
    ></svg-icon>
  </div>
</div>
