<div
  class="flex items-center justify-between h-16 px-2 bg-white border-b-[0.5px] md:px-5 drop-shadow-sm border-primary relative z-30"
>
  <div class="flex gap-4">
    <div class="flex items-center gap-5">
      <svg-icon
        class="flex w-5 cursor-pointer text-secondary group-hover:text-yellow-300"
        src="assets/icons/icon-hamburguesa.svg"
        (click)="onToggleMenu()"
      ></svg-icon>
      <svg-icon
        class="flex w-20 cursor-pointer text-secondary group-hover:text-yellow-300 drop-shadow-md"
        src="assets/icons/icon-uab.svg"
      ></svg-icon>
    </div>

    <div class="flex flex-col">
      <h1
        class="hidden text-lg leading-none select-none md:block text-secondary"
      >
        {{ institution }}
      </h1>
      <span
        class="hidden text-xs leading-none select-none md:block font-primaryRegular text-tertiary"
        >{{ branch }}</span
      >
    </div>
  </div>

  <div class="relative flex gap-4 md:gap-10">
    <!-- --- -->
    <div class="relative z-40 dropdown-container">
      <button
        class="flex items-center justify-center gap-2 px-3 py-1 border-[1px] rounded-lg cursor-pointer hover:bg-slate-50 dropdown-button"
        (click)="toggleDropdown()"
      >
        <h1 class="hidden select-none text-secondary md:block">Servicios</h1>
        <svg-icon class="flex w-4" src="assets/icons/icon-apps.svg"></svg-icon>
      </button>
      <div
        class="absolute top-10 right-1 dropdown-menu"
        [ngClass]="{
          'transition ease-linear duration-300 transform opacity-100 scale-100':
            idDropDownServiceOpen,
          'transition ease-in duration-75 transform opacity-0 scale-95':
            !idDropDownServiceOpen
        }"
      >
        <shared-modal-services />
      </div>
    </div>
    <!-- --- -->
    <div class="flex gap-4">
      <main-btn-notification
        number="2"
        icon="/assets/icons/icon-megaphone.svg"
      />
      <main-btn-notification
        number="1"
        icon="/assets/icons/icon-notification.svg"
      />
    </div>
    <div class="flex gap-2 user">
      <div
        class="flex justify-center items-center w-8 h-8 border-[1px] border-textState-inactive shadow-sm rounded-full"
      >
        <div>
          <svg-icon
            class="flex self-start w-[20px] text-neutral cursor-pointer"
            src="/assets/icons/icon-person.svg"
          >
          </svg-icon>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <h1
          class="hidden text-sm leading-none select-none text-primary md:block"
        >
          Gerardo Catacora Mamani
        </h1>
        <span
          class="hidden text-xs leading-none select-none text-textState-inactive md:block"
          >Docente</span
        >
      </div>
    </div>
  </div>
</div>
