<div class="flex w-full h-screen">
  <main-menu
    class="transition-transform duration-300 transform drop-shadow-sm bg-primary"
    [ngClass]="{
      '-translate-x-full': !menuOpen,
      'translate-x-0 w-10': menuOpen
    }"
  >
  </main-menu>
  <div
    class="flex flex-col w-full transition-all duration-300"
    [ngClass]="{
      'm-0 -ml-8': !menuOpen,
      'ml-0': menuOpen
    }"
  >
    <main-header (toggleMenu)="toggleMenu()"> </main-header>
    <main class="flex-grow p-1 overflow-y-auto md:p-2 bg-slate-100">
      <router-outlet></router-outlet>
    </main>
    <footer class="h-6 p-2 text-[10px] bg-transparent flex items-center">
      dev-UAB
    </footer>
  </div>
</div>

<!-- <div class="flex flex-row h-screen bg-emerald-50">
  <main-menu
    class="transition-all duration-1000 bg-primary"
    [ngClass]="{
      'translate-x-0 w-10': !menuOpen,
      '-translate-x-5 w-0 -z-10': menuOpen
    }"
  />
  <div class="flex flex-col w-full">
    <main-header class="h-20 bg-red-50" (toggleMenu)="toggleMenu()" />
    <footer>s</footer>
  </div>
</div> -->

<!-- <div class="flex h-screen">
 
  <main-menu
    [ngClass]="{
      'translate-x-0 opacity-100': !menuOpen,
      'translate-x-[-100%] opacity-0': menuOpen
    }"
  ></main-menu>

  
  <div class="flex flex-col flex-1 transition-all duration-[600ms] ease-in-out">
   
    <main-header
      class="h-[70px] flex-shrink-0"
      (toggleMenu)="toggleMenu()"
    ></main-header>

  
    <main class="flex-1 overflow-y-auto bg-gray-100">
      <div class="p-4">contenido</div>
      <router-outlet></router-outlet>
    </main>

   
    <footer
      class="p-2 text-gray-700 bg-gray-300 h-[20px] flex-shrink-0"
    ></footer>
  </div>
</div> -->

<!-- <div
  class="grid h-screen transition"
  [ngClass]="{
    colapsado: !menuOpen,
    expandido: menuOpen
  }"
>
  <main-menu
    [ngClass]="{
      'menu-oculto': !menuOpen,
      'menu-visible': menuOpen
    }"
    class="w-80"
  ></main-menu>
  <div class="flex flex-col">
    <main-header (toggleMenu)="menuOpen = !menuOpen"></main-header>
    <div class="flex-grow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
