<div class="flex flex-col h-full gap-1">
  <form [formGroup]="contractGroup">
    <suint-page-header title="Datos de Asignaturas de Origen">
      <input-custom
        name="Selecciona universidad"
        type="select"
        [options]="universities"
        formControlName="universityId"
        [displayProperty]="'name'"
        [valueProperty]="'id'"
        (ngModelChange)="onUniversityChange($event)"
      ></input-custom>

      <!-- Select de carreras -->
      <input-custom
        name="Selecciona carrera"
        type="select"
        [options]="careers"
        formControlName="originCareerId"
        [displayProperty]="'name'"
        [valueProperty]="'id'"
        (ngModelChange)="onCareerChange($event)"
      ></input-custom>

      <input-custom
            name="Nro. de la Asignatura"
            formControlName="code"
            type="text"
            placeholder="Código de asignatura"
          ></input-custom>
    </suint-page-header>

    <suint-list-all
      [data]="subjects"
      [columns]="tableColumns"
      title="Asignaturas"
      ><app-suint-button
        [text]="'Nuevo'"
        [iconSrc]="'assets/icons/icon-add.svg'"
        (onClickButton)="openAddModal()"
      ></app-suint-button
    ></suint-list-all>
  </form>
</div>

<div class="flex-1 overflow-y-auto bg-white rounded-[4px] shadow-sm">
  <suit-modal-form
    titleModal="Datos de asignaturas de origen"
    #modal
    [width]="'800px'"
    [maxWidth]="'100%'"
  >
    <form [formGroup]="contractGroup" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div>
          <!-- <input-custom
            name="Nro. de la Asignatura"
            formControlName="code"
            type="text"
            placeholder="Código de asignatura"
          ></input-custom> -->
          <input name="Nro. de la Asignatura"
          formControlName="code"
          type="text"
          placeholder="Código de asignatura">
      
          <input-custom
            name="Semestre"
            formControlName="semester"
            type="number"
            placeholder="Número de semestre"
          ></input-custom>
        </div>
      
        <div>
          <input-custom
            name="Nombre de la asignatura"
            formControlName="name"
            type="text"
            placeholder="Nombre de la asignatura"
          ></input-custom>
      
          <div class="grid grid-cols-2 gap-4">
            <input-custom
            name="Horas Semestrales"
            formControlName="hourlyLoad"
            type="text"
            placeholder="Carga horaria"
          ></input-custom>
      
            <!-- FlipSwitch usando solo Tailwind -->
            <div class="flex flex-col items-center ">
              <!-- Label "Estado" arriba -->
              <label class="text-sm text-primary">Estado</label>
            <label class="relative inline-block w-12 h-6 m-2">
              <input
                type="checkbox"
                formControlName="status"
                class="opacity-0 w-0 h-0 peer"
              />
              <span
                class="absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-gray-300 rounded-full transition peer-checked:bg-blue-500"
              ></span>
              <span
                class="absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition peer-checked:translate-x-6"
              ></span>
            </label>
            </div>
          </div>
        </div>

      </div>
      <div class="mt-6 flex justify-end">
        <app-suint-button
          [text]="'Guardar'"
          [iconSrc]="'assets/icons/icon-save.svg'"
          type="submit"
        ></app-suint-button>
      </div>
    </form>
  </suit-modal-form>
</div>
