<div class="w-full h-full gap-5 px-4 pt-5">
  <shared-menu-title
    titleSystem="RH"
    detailTitleSystem="Sistema de Recursos Humanos"
    iconTitleSystem="/assets/icons/icon-rh.svg"
  />
  <div class="mb-4">
    <h1 class="mb-2 text-xs text-enable">{{ titleMenu }}</h1>
    <div class="flex flex-col gap-2">
      <shared-menu-item
        nameMenuItem="Estructura organizacional"
        iconMenuItem="assets/icons/icon-estructura.svg"
        route="structure"
      />
      <shared-menu-item
        nameMenuItem="Tipos de contrato"
        iconMenuItem="assets/icons/icon-contrato.svg"
        route="contract"
      />
      <shared-menu-item
        nameMenuItem="Empresa de seguros"
        iconMenuItem="/assets/icons/icon-empresa.svg"
      />
    </div>
  </div>

  <div class="mb-4">
    <h1 class="mb-2 text-xs text-enable">PERSONAL</h1>
    <div class="flex flex-col gap-2">
      <shared-menu-item
        nameMenuItem="Empleado"
        iconMenuItem="/assets/icons/icon-empleado.svg"
      />
      <shared-menu-item
        nameMenuItem="Postulantes"
        iconMenuItem="/assets/icons/icon-contrataciones.svg"
      />
    </div>
  </div>
</div>
